@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Restaurant Rater</h1>
    <p class="lead">Restaurant Rater is an MVC that allows users to identify, review, and rate restaurants of their choosing.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Rate a Restaurant</h2>
        <p>
            The navbar above contains a link to rate a restaurant. You can also click the link below to rate a restaurant too.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get More Info</h2>
        <p>Learn more sbout Restaurant Rater and our mission by clicking the button below.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p>Contact us with any comments, suggestions, or concerns by clicking the button below.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>